body {
	margin-top: 20px;
}

.shopping_cart_frame {
  min-height:100px;
	height:800px;
}

.shopping_cart_item_image {
  height: 70px;
  width: 100px;
  max-height:100px;
  max-width:100px;
}

.shopping_cart_column{
	height: 100px;
	max-height:200px;
}
